<div class="hyperloophelloword">

  <img src="https://cdn.jsdelivr.net/gh/ruby-hyperloop/hyperloop-js-helloworld/hyperloop-logo-medium-white.png?raw=true">

  <h3>The complete isomorphic ruby framework</h3>
  <br>

  <div>
    <%= react_component '::Helloworld', {}, { prerender: true } %>
  </div>

</div>
